/* .container {
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.header {
  font-size: 80px;
  font-weight: 20px;
  background: linear-gradient(to right, rgb(255, 89, 0), rgb(13, 225, 98));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
body {
  margin: 0;
  padding: 0;
} */
